@{
    ViewBag.Title = "Home Page";
}

@*<main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@

@{
    ViewBag.Title = "Bem-vindo ao ReceitasAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div style="margin: 40px 0;">
        <h1 class="text-center">ReceitasAll</h1>
        <p class="text-center">Um blog de receitas onde você pode compartilhar suas criações culinárias e descobrir receitas de outros usuários!</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Receitas</h3>
            <p>Acompanhe as receitas criadas pela comunidade.</p>
            <a href="@Url.Action("Index", "Recipes")" class="btn btn-primary">Receitas</a>
        </div>
        <div class="col-md-4">
            <h3>Minhas Receitas</h3>
            <p>Visualize, edite e gerencie suas receitas em um só lugar.</p>
            <a href="@Url.Action("MyRecipes", "Recipes")" class="btn btn-success">Minhas Receitas</a>
        </div>

        <div class="col-md-4">
            <h3>Livros de Receitas</h3>
            <p>Crie e organize suas receitas em livros de receitas.</p>
            <a href="@Url.Action("Index", "Cookbooks")" class="btn btn-info">Livros de Receitas</a>
        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h3>Receitas Favoritas</h3>
            <p>Descubra e acesse facilmente suas receitas preferidas!</p>
            <a href="@Url.Action("MyFavorites", "Recipes")" class="btn btn-warning">Minhas Favoritas</a>
        </div>
    </div>

    <hr />
</div>
